<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
      Registro
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding center text-center >
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nome" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  placeholder="CPF" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-input  placeholder="Data de Nascimento" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Gênero" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Celular" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Senha" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Confirmar Senha" ></ion-input>
      </ion-item>
      <ion-button full >Salvar</ion-button>
      <ion-button  href="home">Voltar para tela inicial</ion-button>
  </ion-list>